

<div class="page-header">
  <div class="row">
    <div class="col-lg-11 col-xs-10">
      <h1>My Pokemons</h1>
    </div>

  </div>
</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Level</th>
      <th>Option</th>
    </tr>
  </thead>

  <tbody>
    <% @catches.each do |catch| %>
      <tr>
        <td><%= catch.pokemon.name %></td>
        <td><%= catch.pokemon.description %></td>
        <td><%= catch.level %></td>
        <td><%= link_to 'Lvl Up!', level_up_catch_path(catch), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
